


<!DOCTYPE html>
<html lang="en">
{% block head %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ business.name }} - 111-factory Business Plan</title>

                                      
                                        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
                            <link href="{{ asset('css/reset.css') }}" rel="stylesheet" type="text/css" />
                            <link href="{{ asset('css/generic.css') }}" rel="stylesheet" type="text/css" />
                            <link href="{{ asset('css/jquery-ui-1.9.0.custom.min.css') }}" rel="stylesheet" type="text/css" />
                            <link href="{{ asset('css/jquery.gritter.css') }}" rel="stylesheet" type="text/css" />
                            <link href="{{ asset('css/jquery.lightbox-0.5.css') }}" rel="stylesheet" type="text/css" />
                            <link href="{{ asset('css/jquery.jqzoom.css') }}" rel="stylesheet" type="text/css" />
                            <link href="{{ asset('css/buttons.css') }}" rel="stylesheet" type="text/css" />
                            <link href="{{ asset('css/breadcrumbs.css') }}" rel="stylesheet" type="text/css" />
                            <link href="{{ asset('css/alertify.core.css') }}" rel="stylesheet" type="text/css" />
                            <link href="{{ asset('css/alertify.default.css') }}" rel="stylesheet" type="text/css" />
                            <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
                            <link href="{{ asset('css/modal.css') }}" rel="stylesheet" type="text/css" />
                            <link href="{{ asset('css/styles.css') }}" rel="stylesheet" type="text/css" />
                            <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet" type="text/css" />
                            <link href="{{ asset('css/dashboard-2.css') }}" rel="stylesheet" type="text/css" />
                    
                                    <link href="{{ asset('css/print.css') }}" rel="stylesheet" type="text/css" media="print" />
               
            <script type="text/javascript">
   
        </script>
        

                             <script src="{{ asset('js/jquery-1.10.2.min.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/jquery-ui.min.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/jquery.gritter.min.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/jquery.lightbox-0.5.min.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/modal.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/jquery.general.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/jqFancyTransitions.1.8.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/jquery.backgroundposition.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/jquery.scrollfollow.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/jquery.jqzoom-core-pack.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/jquery.animate-colors.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/jquery.token.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/phpjs.min.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/alertify.min.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/highcharts.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/highcharts-more.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/highcharts.init.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/highcharts_modules/exporting.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/espace_client/tableaux.js') }}" type="text/javascript" ></script>
                            <script src="{{ asset('js/espace_client/commentaires.js') }}" type="text/javascript" ></script>
        
            
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/favicon.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('images/favicon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/favicon.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/favicon.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/favicon.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/favicon.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/favicon.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/favicon.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicon.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('images/favicon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('images/favicon.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon.png') }}">
    <link rel="manifest" href="{{ asset('images/favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('images/favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
  
  </head>
  {% endblock %}
  {% block nav %}
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">

        
            <div class="col-md-3 left_col">
              <div class="left_col scroll-view">
                  <!--
                  <div class="navbar nav_title acenter" style="border: 0; height:auto;">
                    <a href="#">
                       <img src="#" alt="" />
                    </a>
                  </div>

                <div class="clearfix"></div>

                <br />-->

                <div style="height:25px; width:230px;"></div>
{% endblock %}
                <!-- sidebar menu -->
				{% block sidebar %}
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                  <div class="menu_section">
				  
                    <h3><img alt="Logo" src="{{asset('images/logo-white.png') }}" height="50px"></h3>
                    <ul class="nav side-menu">
                      <li>
                          <a href="{{path('dashboard')}}"><i class="fa fa-list"></i> {{'All'|trans}} </a>
                      </li>

                                                <li>
                              <a href="{{path('businessplan_create')}}"><i class="fa fa-plus"></i> {{'New'|trans}} </a>
                          </li>
                      
                                                <li class="active"><a><i class="fa fa-table"></i> {{ business.name }} <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" style="display:block">
                                <li class="">
                    				<a href="{{path('products')}}" title="Products">
                    					{{'products'|trans}}                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="{{path('sales')}}" title="Sales">
                    					{{'sales'|trans}}                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="{{path('salesreceipt')}}" title="Encaissement des ventes">
                    						{{'Receipts'|trans}}                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="{{path('purchase')}}" title="Purchases">
                    					{{'purchase'|trans}}                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="{{path('generalexpenses')}}" title="General expenses">
                    					{{'generalexpenses'|trans}}                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="{{path('investments')}}" title="Investments">
                    					{{'investement'|trans}}                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="{{path('depreciation')}}" title="Depreciation">
                    					{{'deprication'|trans}}                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="{{path('loans')}}" title="Loans">
                    					{{'Loans'|trans}}                    				</a>
                    			</li>


                    			<li class="">
                    				<a href="{{path('staff')}}" title="Staff">
                    					{{'STAFF'|trans}}                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="{{path('compteresultat')}}" title="Compte de résultat">
                    					{{'compteresultat'|trans}}                    				</a>
                    			</li>

                    			                    				<li class="">
                    					<a>
                    						{{'Prioritems'|trans}}                    					</a>
                    				</li>
                    			
                    			                    				<li class="">
                    					<a href="{{path('tva',{'id': 0})}}" title="VAT">
                    						{{'VAT'|trans}}                    					</a>
                    				</li>
                    			
                    			                    				<li class="">
                    					<a href="{{path('IS',{'id': 0})}}" title="Corporate tax">
                    						{{'Corporatetax'|trans}}                    					</a>
                    				</li>
                    			
                    			<li class="">
                    				<a href="{{path('BFR')}}" title="WCR">
                    					{{'WCR'|trans}}                    				</a>
                    			</li>

                    			                    				<li class="">
                    					<a href="{{path('tresorerie',{'id': 0})}}" title="Trésorerie">
                    						Trésorerie                    					</a>
                    				</li>
                    			
                    			<li class="">
                    				<a href="{{path('planfinancement')}}" title="Plan de financement">
                    					{{'planfinancement'|trans}}                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="{{path('profitandloss')}}" title="Profit and Loss">
                    					{{'profitandloss'|trans}}
                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="{{path('cashflow')}}" title="Cash flow">
                    					{{'cashflow'|trans}}
                    				</a>
                    			</li>

                            </ul>
                          </li>
                      
                    </ul>
                  </div>
                  <!-- <div class="menu_section">
                    <h3>Autre</h3>
                    <ul class="nav side-menu">
                      <li>
                          <a href="#" target="_blank"><i class="fa fa-bug"></i> Support </a>
                      </li>
                    </ul>
                  </div> -->

                </div>
				{% endblock %}
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
			{% block menufooter %}
               {#  <div class="sidebar-footer hidden-small">
                  <a href="{{path('dashboard')}}" data-toggle="tooltip" data-placement="top" title="Accueil">
                      <i class="fa fa-home"></i>
                  </a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Paramètres">
                      <i class="fa fa-cog"></i>
                  </a>
                  <a href="#" class="open-modal" data-toggle="tooltip" data-placement="top" title="Aide">
                      <i class="fa fa-question-circle"></i>
                  </a>
                  <a href="{{path('app_logout')}}" data-toggle="tooltip" data-placement="top" title="Sign out">
                      <i class="fa fa-power-off"></i>
                  </a>
                </div>
				#}
                <!-- /menu footer buttons -->
              </div>
            </div>
            {% endblock %}
            <!-- top navigation -->
			{#  {% block topnavigation %}
            <div class="top_nav">
              <div class="nav_menu">
                <nav>
                  <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                  </div>

               

                  <ul class="nav navbar-nav navbar-right">
                    <li class="">
                      <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {{app.user.username}}                     <span class=" fa fa-angle-down"></span>
                      </a>
                      <ul class="dropdown-menu dropdown-usermenu pull-right">
                                                        <li>
                                  <a href="{{path('dashboard')}}" title="My business plans">
                                      Mes business plans                                  </a>
                              </li>

                              <li>
                                  <a href="#" title="My account">
                                      Mon Compte                                </a>
                              </li>
                          
                          <li>
                              <a href="{{path('app_logout')}}" title="Sign out">
                           Se déconnecter                    </a>
                          </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
			{% endblock %} #}
            <!-- /top navigation -->
        
        <!-- page content -->
		{% block content %}
        <div class="right_col" role="main">
                            <div class="entete">
	<h1  class="dblock fleft">
		{{ business.name }}		
	</h1>

	<div class="call-to-action fright">
		<div class="fleft margeur-l20">
			<a href="#" title="Share" class="btn btn-lg btn-primary">
				<i class="fa fa-share-alt"></i> &nbsp;{{'Share'|trans}}			</a>
		</div>	
		
		<div class="fleft margeur-l20">
			<a href="{{path('businessparametre')}}" title="Settings" class="btn btn-lg btn-primary">
				<i class="fa fa-sliders" aria-hidden="true"></i> &nbsp;{{'settings'|trans}}			</a>
		</div>

		
		<div class="clearer"></div>
	</div>
<!--
	<div class="margeur-20 liste w-30pc fleft">
		<div class="fright acenter margeur-l15 margeur-r30 fs-12">
			<a href="#" title="Files" class="acenter" style="color:#595959">
				<img src="#" alt="" class="margeur-b5" />
				<br />
				Files			</a>
		</div>

					<div class="fright acenter margeur-2 fs-12">
				<a href="#" title="Settings" class="acenter" style="color:#595959">
					<img src="#" alt=""  class="margeur-b5" />
					<br />
					Settings				</a>
			</div>
		
		<div class="clearer"></div>
	</div> -->

	<div class="clearer"></div>
</div>

<div class="x_panel">
	<div class="">
		<p class="fs-20" style="line-height:25px">
			Business plan {{'over'|trans}} {{business.numberofyears}} {{'starting'|trans}} {{business.startmonth }}. {{business.startyear}}.
		</p>

		<p>
			{{'compnay'|trans}} {{business.Companyname}},  {{'Currency'|trans}} {{business.currency}}			<br /><br />
			{{'youmayfill'|trans}}		</p>
	</div>
	<div class="row menu-principal-bp">
		<div class="col-sm-3">
			<a href="{{path('products')}}" title="Products" class="btn btn-second">
				{{'products'|trans}}			</a>
		</div>
		<div class="col-sm-3">
			<a href="{{path('sales')}}" title="Sales" class="btn btn-second">
				{{'sales'|trans}}			</a>
		</div>
		<div class="col-sm-3">
			<a href="{{path('purchase')}}" title="Purchases" class="btn btn-second">
				{{'purchase'|trans}}			</a>
		</div>
		<div class="col-sm-3">
			<a href="{{path('staff')}}" title="Staff" class="btn btn-second">
				{{'STAFF'|trans}}			</a>
		</div>
		<div class="col-sm-3">
			<a href="{{path('generalexpenses')}}" title="General expenses" class="btn btn-second">
				{{'generalexpenses'|trans}}			</a>
		</div>
		<div class="col-sm-3">
			<a href="{{path('investments')}}" title="Investments" class="btn btn-second">
				{{'investement'|trans}}			</a>
		</div>
		<div class="col-sm-3">
			<a href="{{path('depreciation')}}" title="Depreciation" class="btn btn-second">
				{{'deprication'|trans}}			</a>
		</div>
		<div class="col-sm-3">
			<a href="{{path('loans')}}" title="Loans" class="btn btn-second">
				{{'Loans'|trans}}			</a>
		</div>
		<div class="col-sm-3">
			<a href="{{path('compteresultat')}}" title="Compte de résultat" class="btn btn-second">
				{{'compteresultat'|trans}}			</a>
		</div>
		<div class="col-sm-3">
			<a href="{{path('profitandloss')}}" title="profit and loss" class="btn btn-second">
				{{'profitandloss'|trans}}
			</a>
		</div>

					<div class="col-sm-3">
				<a class="btn btn-primary active acenter">
					{{'Prioritems'|trans}}				</a>
			</div>
		
					<div class="col-sm-3">
				<a href="{{path('tva',{'id': 0})}}" title="VAT" class="btn btn-second">
					{{'VAT'|trans}}				</a>
			</div>

			<div class="col-sm-3">
				<a href="{{path('IS',{'id': 0})}}" title="Corporate tax" class="btn btn-second">
					{{'Corporatetax'|trans}}				</a>
			</div>
		
		<div class="col-sm-3">
			<a href="{{path('BFR')}}" title="WCR" class="btn btn-second">
				{{'WCR'|trans}}			</a>
		</div>

					<div class="col-sm-3">
				<a href="{{path('tresorerie',{'id': 0})}}" title="Trésorerie" class="btn btn-second">
					Trésorerie				</a>
			</div>
		
		<div class="col-sm-3">
			<a href="{{path('planfinancement')}}" title="Plan financement" class="btn btn-second">
				{{'planfinancement'|trans}}			</a>
		</div>

		<div class="col-sm-3">
			<a href="{{path('cashflow')}}" title="cash flow" class="btn btn-second">
				{{'cashflow'|trans}}
			</a>
		</div>
	</div>
</div>

<div class="clearer"></div>
                    </div>
			{% endblock %}	
        <!-- /page content -->

                    <!-- footer content -->
					{% block footer %}
            <footer>
              <div class="pull-left">
                  &copy; 111-factory                   -
                  <a title="" href="#">End-User Licence Agreement </a>
                  -
                  <a title="" href="#">Legal</a>
                  -
                  <a title="" href="#">Credits</a>
              </div>
              <div class="clearfix"></div>
            </footer>
			{% endblock %}
            <!-- /footer content -->
            {% block comment %}
            <div id="commentremplir">
                <div class="clearer"></div>
                <div class="margeur-15"></div>

                <div class="bouton-close">
                    <a href="#" id="hide-commentremplir" class="no_alert_a_sauvegarder">
                        <i class="fa fa-times-circle-o fs-20"></i>
                    </a>
                </div>

                <div class="content"></div>
            </div>
        
        <script src="{{ asset('js/dashboard.js') }}" type="text/javascript" ></script>
      </div>
    </div>

    <!-- Modals -->
        	<div class="modal fade modal-popup-confirm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-modal-popup-confirm-confirm">Confirmer</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>    	<div class="modal fade" id="dynamicmodal-lg" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal">
		    		<i class="fa fa-times-circle-o"></i>
		  			<span class="sr-only">Fermer</span>
		    	</button>
		    	<h1 class="modal-title" id="myModalLabel"></h1>
		    </div>

			<div class="dynamic-container">

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="dynamicmodal-sm" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal">
		    		<i class="fa fa-times-circle-o"></i>
		  			<span class="sr-only">Fermer</span>
		    	</button>
		    	<h1 class="modal-title" id="myModalLabel"></h1>
		    </div>

			<div class="dynamic-container">

			</div>
		</div>
	</div>
</div>
    
  </body>
</html>
{% endblock %}