{% extends 'business/monbuisness.html.twig' %}
{% block head %}
{{parent()}}
{% endblock %}
  {% block nav %}
  {{parent()}}
  {% endblock %}
 {% block sidebar %}
 {{parent()}}
{% endblock %}
{% block menufooter %}
{{parent()}}
{% endblock %}
{% block topnavigation %}
{{parent()}}
{% endblock %}   
{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
                            
<input type="hidden" id="type_affichage" value="detaille" />

{{ form_start(form, {'attr': {'class': 'formulaire' , 'method':'post','action':"" }}) }}
	<div class="entete entete-min">
		<h1 class="fleft">
			Ventes		</h1>
                    
					<div class="fleft margeur-l15">
					<div class="pagination-periode">
		{% for i in 1..business.numberofyears %}
					<a href="{{path('saleyears',{id:i -1 })}}" id="navbutton{{i -1}}" class="btn btn-primary btn-md" title="Année 1">
				Année {{i}}			</a>
		
				<!--<a href="#" class="btn btn-md">
			&raquo;
		</a>-->
        {% endfor %}		
 
	</div>
			</div>
            
		
		<div class="call-to-action fright">
							<div class="fleft">
					<a href="{{path('salesreceipt')}}" title="Encaissement des ventes" class="btn btn-md btn-primary">
						Encaissement des ventes					</a>
				</div>

					<div class="fleft">
		<a href="#" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter au format PDF">
			<i class="fa fa-file-pdf-o"></i> &nbsp;Exporter
		</a>
	</div>

				<div class="fleft">
					<a href="#" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter sous Excel">
						<i class="fa fa-file-excel-o"></i> &nbsp;Exporter
					</a>
				</div>

									<div class="fleft">
											{{form_widget (form.submit, {'attr': {'class': 'btn btn-md btn-success dont-print','value':'Valider'}}) }}
					{{ form_row(form._token) }}
					</div>
									</div>

		<div class="clearer"></div>
	</div>

	<div class="x_panel">



			<input type="hidden" name="post-ventes" value="true" />

							<div class="form-element absolute" id="validation_mouvante">
					<input type="submit" class="btn btn-lg btn-success dont-print" value="Valider" />
				</div>
			<table class="tableau navigate no-highlight">
				<tr>
				   <th colspan="2">Produit</th>
				   				   	 	<th>Janv</th>
				   				   	<th>Fév</th>
				   				   	<th>Mars</th>
				   				   	<th>Avril</th>
				   				   	<th>Mai</th>
				   				   	<th>Juin</th>
				   				   	<th>Juil</th>
				   				   	<th>Aout</th>
				   				   	<th>Sept</th>
				   				   	<th>Oct</th>
				   				   	<th>Nov</th>
				   				   	<th>Déc</th>
				   				</tr>
							  	   
							{% for key,salesdetailled in form.detailled %}				
                            {% if type[key][0]=='Unit Invoicing' %}
					
                            <tr class="ventilate-unites257607">
				            <td rowspan="2">
                            <a href="#" title="Modifier" class="tool-tip open-modal">
							{{key}} <i class="fa fa-pencil"></i>
						</a>
						
                            </td>
							 
                            <td class="soustitre">
				  		Unités						&nbsp;
						<a href="#" class="open-modal tool-tip no_alert_a_sauvegarder" title="Ventilation sur 12 mois" data-modal-size="sm">
							<i class="fa fa-edit"></i>
						</a>
						 {% for i in 0..11 %}
						<td class="aright  ">
				  		<input type="text" class="type-text" name='{{key}}_{{i}}' value="0.00" onchange="sum(this.value,this.name)"  />				  						
				     	</td>
					    {% endfor %}
				  			</tr>
                              <tr class="ventilate-ca257607">
					<td class="soustitre">
				  		CA						&nbsp;
						<a href=" " class="open-modal tool-tip no_alert_a_sauvegarder" title="Ventilation sur 12 mois" data-modal-size="sm">
							<i class="fa fa-edit"></i>
						</a>
				  	</td>
                    
                   
                    {% for i in 0..11 %}
					
				  	<td class="aright somme-js somme-1-0 duplicate" id="somme-1-0">
					{{ form_widget (salesdetailled[i], {'attr': {'type':'text','class':'type-text azerty' }}) }}
                    
					{% endfor %}
                    </td>
                          
                   {#------------------------------------------------------------------ #}
					 {% elseif  type[key][0]=='Reccuring Invoicing' %}
					
                            <tr class="ventilate-unites257607">
				            <td rowspan="2">
                            <a href="#" title="Modifier" class="tool-tip open-modal">
							{{key}} <i class="fa fa-pencil"></i>
						</a>
						
                            </td>
							 
                            <td class="soustitre">
				  		Unités						&nbsp;
						<a href="#" class="open-modal tool-tip no_alert_a_sauvegarder" title="Ventilation sur 12 mois" data-modal-size="sm">
							<i class="fa fa-edit"></i>
						</a>
						 {% for i in 0..11 %}
						<td class="aright  ">
						{{ form_widget (salesdetailled[i], {'attr': {'type':'text','class':'type-text'}}) }}
				  		{#<input type="text" class="type-text azerty" name='{{key}}_{{i}}' value="0.00" onchange="rec(this.value,this.name)"/></td>#}
				     	</td>
					    {% endfor %}
				  			</tr>
                              <tr class="ventilate-ca257607">
					<td class="soustitre">
				  		CA						&nbsp;
						<a href="#" class="open-modal tool-tip no_alert_a_sauvegarder" title="Ventilation sur 12 mois" data-modal-size="sm">
							<i class="fa fa-edit"></i>
						</a>
				  	</td>
                    
                   
                    {% for i in 0..11 %}
					
				  	<td class="aright somme-js somme-1-0 duplicate" id="somme-1-0">
					{#{{ form_widget (salesdetailled[i], {'attr': {'type':'text','class':'type-text','readonly':'readonly'}}) }}#}
                    <label>{{finalCA[key][id][i]}}</label>
					{% endfor %}
                    </td>

                    {#---------------------------------------------------------------- #}
                     
                      {% else %}


                            <tr class="ventilate-unites257607">
				            <td rowspan="2">
                            <a href="#" title="Modifier" class="tool-tip open-modal">
							{{key}} <i class="fa fa-pencil"></i>
						</a>
						
                            </td>
							 
                            <td class="soustitre dnone">
				  		Unités						&nbsp;
						<a href="#" class="open-modal tool-tip no_alert_a_sauvegarder" title="Ventilation sur 12 mois" data-modal-size="sm">
							<i class="fa fa-edit"></i>
						</a>
					
				  			</tr>
                              <tr class="ventilate-ca257607">
					<td class="soustitre">
				  		CA						&nbsp;
						<a href="#" class="open-modal tool-tip no_alert_a_sauvegarder" title="Ventilation sur 12 mois" data-modal-size="sm">
							<i class="fa fa-edit"></i>
						</a>
						
                    {% for i in 0..11 %}
					
				  	<td class="aright somme-js somme-1-0 duplicate" id="somme-1-0">
					{{ form_widget (salesdetailled[i], {'attr': {'type':'text','class':'type-text'}}) }}
                    
					{% endfor %}
				  	</td>
					{% endif %}


                    {% endfor %}
                            <tr>
					<td class="total" colspan="2">
						Chiffre d'affaire total (en {{business.currency}})
					</td>
					{% for i in total[id] %}
					<td class="aright total" id="total-1-{{loop.index0}}" >{{i}}</td>
			
					{% endfor %}
                   {#  {% for total in form.CAtotal  %}
					<td class="aright total" id="total-1-0">
				  	{{ form_widget (total, {'attr': {'type':'text','class':'type-text','value':'0.00','readonly':'readonly'}}) }}				  	</td>
				  	{% endfor %}	#}			  		  	
				   </tr>
				
			</table>


					<div class="margeur-10">
					<div id="container-vente-0" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
			</div>
</form>
                            <input type="hidden" id="id_tableau" name="id_tableau" value="4-0" />

<div class="bloc-commentaires margeur-50" id="notes">
	<h2 class="fleft">Notes</h2>

		<div class="fright">
		<a href="#" id="hide-notes" class="no_alert_a_sauvegarder" >
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
	<div class="clearer"></div>

	<form action="" method="post" class="formulaire margeur-20">
		<textarea id="note" name="note" ></textarea>

				<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Sauvegarder la note" />
		</div>
			</form>
	</div>

<div class="bloc-commentaires margeur-50" id="commentaires">
	<div class="clearer">&nbsp;</div><div class="margeur-10"></div>
	<h2 class="fleft">Discussion</h2>
		<div class="fright">
		<a href="#" id="hide-commentaires" class="no_alert_a_sauvegarder">
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
		<div class="clearer"></div>

	<div id="commentaires-container">
			</div>

		<form action="" method="post" class="formulaire margeur-20">
		<div class="champ">
			<input type="text" name="redacteur" id="redacteur" placeholder="Votre nom" value="" />
		</div>

		<div class="champ margeur-5">
			<textarea id="commentaire" name="commentaire" placeholder="Votre commentaire"></textarea>
		</div>

		<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Envoyer le commentaire" />
		</div>
	</form>
	
	<div class="margeur-10"></div>
</div>

	<div class="liens-sociaux">
		<div id="show-commentaires" class="fleft btn btn-md btn-primary tool-tip" style="margin:0px" title="Discussion">
			<i class="fa fa-comments fs-18"></i> (<span id="nb-commentaires">0</span>)
		</div>

		<div id="show-notes" class="btn btn-md btn-primary fleft tool-tip" style="margin:0px 0px 0px 10px;" title="Notes">
			<i class="fa fa-sticky-note"></i>
					</div>
	</div>
                    </div>
        <!-- /page content -->
           
        <script>
		//-------------chartJs------------------
		  var currentyear = {{id}};
          var chiffre = {{finalCA|json_encode|raw}};
		  var result =[];
		  var i;
		 
		   for (i = 0; i < Object.keys(chiffre).length; i++) {
			var s = window['a'+i];
			window['a'+i] = {'name':'','data':''};
			window['a'+i]['name'] = Object.keys(chiffre)[i];
			window['a'+i]['data'] = chiffre[Object.keys(chiffre)[i]][currentyear].map(Number);
			result.push(window['a'+i]);
			}
          console.log(result);
		$(function () {
				    $('#container-vente-0').highcharts({

			            chart: {
			                animation: false
			            },

				        title: {
				            text: 'Ventes',
				            x: -20 //center
				        },
				        xAxis: {
				            categories: ["","","","","","","","","","","",""]
				        },
				        yAxis: {
				            title: {
				                text: "CA (en {{business.currency}})"
				            },
				        },
				        tooltip: {
				            shared: true,
				            useHTML: true,
				            headerFormat: '<small>{point.key}</small><table>',
				            pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
				            '<td style="text-align: right"><b>{point.y}</b></td></tr>',
				            footerFormat: '</table>',
				            valueDecimals: 2
				        },
				        series: result
				    });
				});
		 //-----------Avtive button--------------
		 var currentbutton =  document.getElementById("navbutton{{id}}");
		  currentbutton.classList.add("active");
		 //--------- Calculer Unité--------------
		var unitéprice =  {{ listofprice|json_encode|raw}};
		var reccuringprice =  {{(listofreccuring|json_encode|raw)}};
		
        
		var keys = [];
		var recu =[];
		
        for(var k in unitéprice) keys.push(k);
		for(var t in reccuringprice) recu.push(t);
		//console.log(t);
		var CA = 'salesdetailled_form_detailled_' ;
		var x = 0 ;
		var y = 0 ;
		var yearactuel = {{id}} ;
		//document.getElementsByName('Plazma_0')[0].value = 520 ;
		//console.log(CA+keys[y]+'_0');
		for(y=0;y<keys.length ; y++){
		for(x =0 ; x<12 ; x++){
			var s = unitéprice[keys[y]][0][yearactuel];
		
			 document.getElementsByName(keys[y]+'_'+x)[0].value =  document.getElementById(CA+keys[y]+'_'+x).value / s;  
		}
		}
		/*for(y=0;y<recu.length ; y++){
		for(x =0 ; x<12 ; x++){
			var r = reccuringprice[recu[y]][0];
		    
			document.getElementsByName(recu[y]+'_'+x)[0].value =  document.getElementById(CA+recu[y]+'_'+x).value / r;  
		}
		}*/
		//console.log(reccuringprice['abonnement'],unitéprice['Plazma'][0][1]);
		//-------Sum of CA ------------
		{#var total =  {{ listofname|json_encode|raw}};
		console.log(total);
		var j ;
		var u ; 
		for(j=0 ;j<12;j++){
			for(u=0 ;u<total.length;u++){
			
				
		document.getElementById('total-1-'+j).innerHTML = parseFloat(document.getElementById('total-1-'+j).innerHTML) +  parseFloat(document.getElementById('salesdetailled_form_detailled_'+total[u]+'_'+j).value);
		
		}}#}
		//--------- end of Sum of CA -----------------------
		//----------calcul of Reccurin CA ------------------		


		//------------end of Reccuring CA -----------------
		function sum(val,name){
			var price =  {{(listofprice|json_encode|raw)}};	
			var i;
			var f = name.substr(0,name.indexOf('_'));
			var k = 'value';
			var inputname = 'salesdetailled_form_detailled_' ;
			var yearactuel = {{id}} ;
			this[inputname+name].value = parseFloat(val) * parseFloat(price[f][0][yearactuel]);
		
	   	}
		   var units=["0","0","0","0","0","0","0","0","0","0","0","0"];
		   var prix =["0","0","0","0","0","0","0","0","0","0","0","0"]
           UN =[{'test':units , 'price':units},{'abonnement':units}];
		   function rec(val,name){
			var parametre =  {{ listofparametre|json_encode|raw}};	
           var inputname = 'salesdetailled_form_detailled_' ;

 		   var saleprice =  {{(listofreccuring|json_encode|raw)}};
		   var f = name.substr(0,name.indexOf('_'));
		   var s = name.substr(name.indexOf('_')+1);
		   var Periode = parseFloat(parametre[f][1]); 
		   var firstoccurence =  parseFloat(parametre[f][2]);
		   var permenant =  parametre[f][3];
		   var nbofoccurance =  parametre[f][4];
		    //console.log(firstoccurence,permenant,nbofoccurance) ;
			if(permenant == false){
		   for(i=parseFloat(s);i<parseFloat(s)+nbofoccurance+1 ; i++){
			if(document.getElementsByName(name)[0].value > 0){
		   var x = this[inputname+f+'_'+(i+parseFloat(firstoccurence))].value / parseFloat(parametre[f][0]);
		   var y = this[inputname+f+'_'+(i+parseFloat(firstoccurence))].value ; //ancien CA
		   var CA = (parseFloat(this[inputname+f+'_'+(i+parseFloat(firstoccurence))].value) + (parseFloat(val) * parseFloat(parametre[f][0]))) - (x*parseFloat(parametre[f][0]));
		  //CA = nouvelle Valeur de chiffre d'affaire
		   //console.log(document.getElementsByName(name)[0].value) ;
		   // this[inputname+f+'_'+(i+parseFloat(firstoccurence))].value = parseFloat(CA)+ parseFloat(y) ;
		  this[inputname+f+'_'+(i+parseFloat(firstoccurence))].value = (parseFloat(this[inputname+f+'_'+(i+parseFloat(firstoccurence))].value) + (parseFloat(val) * parseFloat(parametre[f][0]))) - (x*parseFloat(parametre[f][0]));
		  // console.log(CA,y) ;
		   }}
			
		   if(document.getElementsByName(name)[0].value == 0 ){
			console.log(parseFloat((parseFloat(val) * parseFloat(parametre[f][0])) ));
		   this[inputname+f+'_'+(i+parseFloat(firstoccurence))].value = 0;
		  }   
		   }
		   else{
  for(i=parseFloat(s);i<12 ; i++){
			if(document.getElementsByName(name)[0].value > 0){
				units[s] = document.getElementsByName(name)[0].value;
				QQQ = (parseFloat(parametre[f][0])* parseFloat(units[s]));
				console.log(units);
				for(y = 0 ; y < 12;y++){
				for(x=firstoccurence ; x<prix.length ; x++){
                  prix[x] = QQQ;
				}}
				
				//UN=[{'key1' : [3,5]}];
				console.log(prix);
		  var x = this[inputname+f+'_'+(i+parseFloat(firstoccurence))].value / parseFloat(parametre[f][0]);
		   var y = this[inputname+f+'_'+(i+parseFloat(firstoccurence))].value ; //ancien CA
		   var CA = (parseFloat(this[inputname+f+'_'+(i+parseFloat(firstoccurence))].value) + (parseFloat(val) * parseFloat(parametre[f][0]))) - (x*parseFloat(parametre[f][0]));
		  //CA = nouvelle Valeur de chiffre d'affaire
		 //  console.log(i) ;
		    this[inputname+f+'_'+(i+parseFloat(firstoccurence))].value = parseFloat(CA)+ parseFloat(y) ;
		 // this[inputname+f+'_'+(i+parseFloat(firstoccurence))].value = (parseFloat(this[inputname+f+'_'+(i+parseFloat(firstoccurence))].value) + (parseFloat(val) * parseFloat(parametre[f][0]))) - (x*parseFloat(parametre[f][0]));
		   //console.log(CA,y) ;
		   }}
			
		   if(document.getElementsByName(name)[0].value == 0 ){
			console.log(parseFloat((parseFloat(val) * parseFloat(parametre[f][0])) ));
		   this[inputname+f+'_'+(i+parseFloat(firstoccurence))].value = 0;
		  }   
		   }
		   }
		   
		</script>
        		{% endblock %}
       	{% block footer %}
{{parent()}}
{% endblock %}
 {% block comment %}
 {{parent()}} 
 {% endblock %}   