
{% extends 'business/monbuisness.html.twig' %}
{% block head %}
{{parent()}}
{% endblock %}
  {% block nav %}
  {{parent()}}
  {% endblock %}
 {% block sidebar %}
 {{parent()}}
{% endblock %}
{% block menufooter %}
{{parent()}}
{% endblock %}
{% block topnavigation %}
{{parent()}}
{% endblock %}   
{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
                            <div class="entete entete-min">
	<h1 class="fleft">
		Décaissements des achats
	</h1>

			<div class="fleft margeur-l15">
				<div class="pagination-periode">
		              {% for i in 1..business.numberofyears %}
					<a href="{{path('purchasedisbursement',{id:i -1})}}" class="btn btn-primary btn-md btn-success" title="Year 1">
				Année {{i}}			</a>
                {% endfor %}
			
		
				<!--<a href="" class="btn btn-md">
			&raquo;
		</a>-->
		

	</div>
		</div>
	
	<div class="call-to-action fright">
					<div class="fleft">
				<a href="{{path('purchase')}}" title="Purchase cost of sales" class="btn btn-md btn-primary">
					Couts d’achat sur Ventes				</a>
			</div>

			<div class="fleft">
				<a href="#" title="Supply" class="btn btn-md btn-primary">
					Approvisionnement				</a>
			</div>
			</div>

	<div class="clearer"></div>
</div>

<div class="x_panel">
	<table class="tableau">
		<tr>
			<th></th>

						<th>Janv</th>
		   		   <th>Fév</th>
		   		   <th>Mars</th>
		   		   <th>Avril</th>
		   		   <th>Mai</th>
		   		   <th>Juin</th>
		   		   <th>Juil</th>
		   		   <th>Aout</th>
		   		   <th>Sept</th>
		   		   <th>Oct</th>
		   		   <th>Nov</th>
		   		   <th>Déc</th>
					</tr>

				<tr>
		<td class="soustitre">
			Comptant
			</td>
			{% for key,ca in Cash[id] %}
				<td class="aright">
				{#ca[key]#}{{ca}}</td>
			{% endfor %} 
				</tr>
			 	 
		    
			<td class="soustitre">
				30 jours			</td>

            {% for key,ca in After30[id] %}
			<td class="aright">
					{{ca}} </td>
					
			{% endfor %}		
				<tr>
			<td class="soustitre">
				60 jours			</td>

            {% for key,ca in After60[id] %}
			<td class="aright">
					{{ca}} </td>
					
			{% endfor %}		
				<tr>
			<td class="soustitre">
				90 jours			</td>

            {% for key,ca in After90[id] %}
			<td class="aright">
					{{ca}} </td>
					
			{% endfor %}		
				<tr>
			<td class="soustitre">
				120 jours			</td>

            {% for key,ca in After120[id] %}
			<td class="aright">
					{{ca}} </td>
					
			{% endfor %}		
				<tr>
			<td class="soustitre">
				Revenus associés			</td>
                    {% for re in revenue[id] %}
							<td class="aright">
					{{re}}				</td>
				    {% endfor %}
					</tr>

		<tr>
			<td class="soustitre">
				Dont TVA			</td>
                   {% for d in TVA[id] %}
							<td class="aright">
							{{d}}		</td>
					{% endfor %}
					</tr>

		<tr>
			<td class="total">
				Total Décaissé			</td>
                {% for t in total[id] %}
				<td class="total aright">
					{{t}}				</td>
				{% endfor %}
					</tr>
	</table>
</div>
                   
                            <input type="hidden" id="id_tableau" name="id_tableau" value="9" />

<div class="bloc-commentaires margeur-50" id="notes">
	<h2 class="fleft">Notes</h2>

		<div class="fright">
		<a href="#" id="hide-notes" class="no_alert_a_sauvegarder" >
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
	<div class="clearer"></div>

	<form action="" method="post" class="formulaire margeur-20">
		<textarea id="note" name="note" ></textarea>

				<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Save note" />
		</div>
			</form>
	</div>

<div class="bloc-commentaires margeur-50" id="commentaires">
	<div class="clearer">&nbsp;</div><div class="margeur-10"></div>
	<h2 class="fleft">Discussion</h2>
		<div class="fright">
		<a href="#" id="hide-commentaires" class="no_alert_a_sauvegarder">
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
		<div class="clearer"></div>

	<div id="commentaires-container">
			</div>

		<form action="" method="post" class="formulaire margeur-20">
		<div class="champ">
			<input type="text" name="redacteur" id="redacteur" placeholder="Your name" value="" />
		</div>

		<div class="champ margeur-5">
			<textarea id="commentaire" name="commentaire" placeholder="Your comments"></textarea>
		</div>

		<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Send comments" />
		</div>
	</form>
	
	<div class="margeur-10"></div>
</div>

	<div class="liens-sociaux">
		<div id="show-commentaires" class="fleft btn btn-md btn-primary tool-tip" style="margin:0px" title="Discussion">
			<i class="fa fa-comments fs-18"></i> (<span id="nb-commentaires">0</span>)
		</div>

		<div id="show-notes" class="btn btn-md btn-primary fleft tool-tip" style="margin:0px 0px 0px 10px;" title="Notes">
			<i class="fa fa-sticky-note"></i>
					</div>
	</div>
                    </div>
        <!-- /page content -->
{% endblock %}
{% block footer %}
{{parent()}}
{% endblock %}
 {% block comment %}
 {{parent()}} 
 {% endblock %}
