{% extends 'business/monbuisness.html.twig' %}
{% block head %}
{{parent()}}
{% endblock %}
  {% block nav %}
  {{parent()}}
  {% endblock %}
 {% block sidebar %}
 {{parent()}}
{% endblock %}
{% block menufooter %}
{{parent()}}
{% endblock %}
{% block topnavigation %}
{{parent()}}
{% endblock %}   
{% block content %}

 <div class="right_col" role="main">
                            
{{form_start(form)}}
	<div class="entete entete-min">
		<h1 class="fleft">
			Trésorerie		</h1>

					<div class="fleft margeur-l15">
					<div class="pagination-periode">
		        {% for i in 0..business.rangeofdetail -1  %}
					<a href="{{path('tresorerie',{'id': i })}}" class="btn btn-primary btn-md btn-success" title="Année 1">
				Année {{i + 1}}			</a>
				{% endfor %}
				<!--<a href="#" class="btn btn-md">
			&raquo;
		</a>-->
		

	</div>
			</div>
		
		<div class="call-to-action fright">
							<div class="fleft">
					<a href="#" title="Éléments antérieurs" class="btn btn-primary btn-md">
						<i class="fa fa-clock-o"></i> &nbsp;Éléments antérieurs					</a>
				</div>

					<div class="fleft">
		<a href="#" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter au format PDF">
			<i class="fa fa-file-pdf-o"></i> &nbsp;Exporter
		</a>
	</div>

				<div class="fleft">
					<a href="#" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter sous Excel">
						<i class="fa fa-file-excel-o"></i> &nbsp;Exporter
					</a>
				</div>

									<div class="fleft">
						{{form_widget (form.Valider, {'attr': {'class': 'btn btn-md btn-success dont-print','value':'Valider'}}) }}
					</div>
									</div>

		<div class="clearer"></div>
	</div>

	<div class="x_panel">

					<div class="fleft select-stock margeur-l20">
				<div>
					Votre politique de décaissement de TVA :
				</div>

				<div>
											<a href="#">
							Trimestriel						</a>
									</div>

				<div>
											<span class="btn btn-primary">Mensuel</span>
									</div>

				<div class="clearer"></div>
			</div>

			<div class="form-element" id="validation_mouvante">
				<input type="submit" class="btn btn-success btn-lg dont-print" value="Valider" />
			</div>
		
		<div class="clearer"></div>

		<div class="clearer"></div>

		<table class="tableau navigate margeur-20">
											    <tr>
						<th>Année 1</th>

													<th>Janv</th>
													<th>Fév</th>
													<th>Mars</th>
													<th>Avril</th>
													<th>Mai</th>
													<th>Juin</th>
													<th>Juil</th>
													<th>Aout</th>
													<th>Sept</th>
													<th>Oct</th>
													<th>Nov</th>
													<th>Déc</th>
											</tr>

					<tr>
						<td class="total">Trésorerie initiale &nbsp;<i class="fs-18 fa fa-question-circle tool-tip cpointer" title="Pour les entreprises déjà créées, la trésorerie initiale  au démarrage du BP doit être saisie dans la rubrique éléments antérieurs. "></i></td>
                        {% for i in 0..11 %}
						<td class="total aright tresorerie-initiale" id="tresorerie-initiale-0">
						0.00
						</td>
						{% endfor %}							
											</tr>

					<tr>
						<td colspan="13" class="separateur"></td>
					</tr>

					<tr>
						<td class="soustitre">Ventes TTC</td>
                        {% for i in ventesTTC %}
													<td class="aright encaissementshtml-0">
								{{i}}						</td>
						{% endfor %}
											</tr>

					<tr>
						<td class="soustitre">Encaissement sur produits antérieurs</td>

													<td class="aright encaissementshtml-0">
								0.00							</td>
													<td class="aright encaissementshtml-1">
								0.00							</td>
													<td class="aright encaissementshtml-2">
								0.00							</td>
													<td class="aright encaissementshtml-3">
								0.00							</td>
													<td class="aright encaissementshtml-4">
								0.00							</td>
													<td class="aright encaissementshtml-5">
								0.00							</td>
													<td class="aright encaissementshtml-6">
								0.00							</td>
													<td class="aright encaissementshtml-7">
								0.00							</td>
													<td class="aright encaissementshtml-8">
								0.00							</td>
													<td class="aright encaissementshtml-9">
								0.00							</td>
													<td class="aright encaissementshtml-10">
								0.00							</td>
													<td class="aright encaissementshtml-11">
								0.00							</td>
											</tr>

					<tr>
						<td class="soustitre">Capital</td>
	               {% for i in 0..11 %}
													<td class="aright duplicate">
														{{ form_widget (form.capital[i], {'attr': {'type':'text','class':'type-text ' }}) }}
																			</td>
					{% endfor %}	
											</tr>

					<tr>
						<td class="soustitre">Comptes courants</td>

	                  	{% for i in 0..11 %}
						<td class="aright duplicate">
						{{ form_widget (form.CompteCourant[i], {'attr': {'type':'text','class':'type-text ' }}) }}
						</td>
				     	{% endfor %}
				 							</tr>

					<tr>
						<td class="soustitre">Subventions</td>
                         {% for i in 0..11 %}
						<td class="aright duplicate">
						{{ form_widget (form.Subventions[i], {'attr': {'type':'text','class':'type-text ' }}) }}
						</td>
				     	{% endfor %}
									
																</tr>

					<tr>
						<td class="soustitre">Avances remboursables</td>
                    {% for i in 0..11 %}
					<td class="aright duplicate">
					{{ form_widget (form.Avances[i], {'attr': {'type':'text','class':'type-text ' }}) }}						
					</td>
					{% endfor %}
											</tr>

					<tr>
						<td class="soustitre">Emprunts</td>
                        {% for i in 0..11 %}
						<td class="aright encaissementshtml-0">
						{{Emprunt[i]}}
						</td>
						{% endfor %}							
											</tr>

					<tr>
						<td class="soustitre">Remboursements TVA</td>
                        {% for i in 0..11 %}
						<td class="aright encaissementshtml-0">
						{{RemboursmentTVA[i]}}
						</td>
						{% endfor %}
											</tr>

					<tr>
						<td class="soustitre">Remboursement de crédit d'impôts</td>
                        {% for i in 0..11 %}
						<td class="aright encaissementshtml-0">
						{{RemboursmentCIR[i]}}
						</td>
						{% endfor %}
											</tr>

					<tr>
						<td class="soustitre">Autres encaissements</td>
                        {% for i in 0..11 %}
													<td class="aright duplicate">
														{{ form_widget (form.Autre[i], {'attr': {'type':'text','class':'type-text ' }}) }}							
												    </td>
						{% endfor %}
											</tr>

					<tr>
						<td class="total">Total encaissements</td>
                        {% for i in 0..11 %}
						<td class="total aright totalencaissements-0">
						{{ventesTTC[i] + Emprunt[i] + RemboursmentTVA[i] + RemboursmentCIR[i] + capital[i] + Comptecourant[i] + Subventions[i] + Avances[i] + AutreEncaissement[i]}}
						</td>
						{% endfor %}
											</tr>


					<tr>
						<td colspan="13" class="separateur"></td>
					</tr>

					<tr>
						<td class="soustitre">Achats TTC</td>
                        {% for i in 0..11 %}
						<td class="aright decaissementshtml-0">
								{{AchatTTC[i]}}
						</td>
						{% endfor %}

					<tr>
						<td class="soustitre">Décaissement des charges antérieures</td>

													<td class="aright decaissementshtml-0">
								0.00							</td>
													<td class="aright decaissementshtml-1">
								0.00							</td>
													<td class="aright decaissementshtml-2">
								0.00							</td>
													<td class="aright decaissementshtml-3">
								0.00							</td>
													<td class="aright decaissementshtml-4">
								0.00							</td>
													<td class="aright decaissementshtml-5">
								0.00							</td>
													<td class="aright decaissementshtml-6">
								0.00							</td>
													<td class="aright decaissementshtml-7">
								0.00							</td>
													<td class="aright decaissementshtml-8">
								0.00							</td>
													<td class="aright decaissementshtml-9">
								0.00							</td>
													<td class="aright decaissementshtml-10">
								0.00							</td>
													<td class="aright decaissementshtml-11">
								0.00							</td>
											</tr>

					<tr>
						<td class="soustitre">Frais généraux TTC</td>
                        {% for i in 0..11 %}
						<td class="aright decaissementshtml-0">
						{{AdministrationTTC[i] + ProductionTTC[i] + CommercialTTC[i] + ReseachTTC[i]}}
						</td>
						{% endfor %}
											</tr>

					<tr>
						<td class="soustitre">Rémunérations nettes</td>
                        {% for i in 0..11 %}
						<td class="aright decaissementshtml-0">
						{{Netapayer[i]+  NetapayerPro[i] + NetapayerCom[i] + NetapayerRec[i]}}
						</td>
						{% endfor %}
											</tr>

					<tr>
						<td class="soustitre">Charges sociales</td>
                        {% for i in 0..11 %}
						<td class="aright decaissementshtml-0">
						{{StaffchargeAdm[i] + StaffchargePro[i] + StaffchargeCom[i] + StaffchargeRec[i]}}
						</td>
						{% endfor %}
											</tr>

					<tr>
						<td class="soustitre">Immobilisations</td>
                        {% for i in 0..11 %}
						<td class="aright decaissementshtml-0">
						
						{{ImmobilisationsAdm[i] + ImmobilisationsPro[i] + ImmobilisationsCom[i] + ImmobilisationsRec[i]}}
						
						</td>
						{% endfor %}
											</tr>

					<tr>
						<td class="soustitre">Décaissement de TVA</td>
                        {% for i in 0..11 %}
						<td class="aright decaissementshtml-0">
						{{DecaissementTVA[i]}}
						</td>
						{% endfor %}
											</tr>

					<tr>
						<td class="soustitre">Impôt sur les Sociétés</td>
                        {% for i in 0..11 %}
						<td class="aright decaissementshtml-0">
						{{Impotsursociete[i]}}
						</td>
						{% endfor %}
									</tr>

					<tr>
						<td class="soustitre">Remboursement Emprunts</td>
                        {% for i in 0..11 %}
						<td class="aright decaissementshtml-0">
								{{RemboursementEmprunt[i]}}						
						</td>
						{% endfor %}
											</tr>

					<tr>
						<td class="soustitre">Autres décaissements</td>
						 {% for i in 0..11 %}
						<td class="aright duplicate">
						{{ form_widget (form.Autredecaiseement[i], {'attr': {'type':'text','class':'type-text ' }}) }}
						{% endfor %}
						</td>
						</tr>

					<tr>
						<td class="total">Total décaissements</td>
                          {% for i in 0..11 %}
						  <td class="total aright totaldecaissements-0">
								{{AchatTTC[i] + AdministrationTTC[i] + ProductionTTC[i] + CommercialTTC[i] + ReseachTTC[i] + Netapayer[i]+ 
								 NetapayerPro[i] + NetapayerCom[i] + NetapayerRec[i] + StaffchargeAdm[i] + 
								 StaffchargePro[i] + StaffchargeCom[i] + StaffchargeRec[i] +
								  ImmobilisationsAdm[i] + ImmobilisationsPro[i] + newAutredecaissement[i] +
								 ImmobilisationsCom[i] + ImmobilisationsRec[i] +  DecaissementTVA[i] + Impotsursociete[i] + RemboursementEmprunt[i]
								 }}						
						  </td>
							{% endfor %}					
											</tr>
                     
					<tr>
						<td colspan="13" class="separateur"></td>
					</tr>

					<tr>
						<td class="soustitre">Ecart encaissements-décaissements</td>
                      {% for i in 0..11 %}
					<td class="aright ecart-0">
						{{(ventesTTC[i] + Emprunt[i] + RemboursmentTVA[i] + RemboursmentCIR[i] + capital[i] + Comptecourant[i] + Subventions[i] + Avances[i] + AutreEncaissement[i]) - 
						
						(AchatTTC[i] + AdministrationTTC[i] + ProductionTTC[i] + CommercialTTC[i] + ReseachTTC[i] + Netapayer[i]+ 
								 NetapayerPro[i] + NetapayerCom[i] + NetapayerRec[i] + StaffchargeAdm[i] + 
								 StaffchargePro[i] + StaffchargeCom[i] + StaffchargeRec[i] + ImmobilisationsAdm[i] + ImmobilisationsPro[i] + newAutredecaissement[i] +
								 ImmobilisationsCom[i] + ImmobilisationsRec[i] +  DecaissementTVA[i] + Impotsursociete[i] + RemboursementEmprunt[i])}}						
					</td>
					{% endfor %}								
											</tr>

					<tr>
						<td class="total">Trésorerie finale</td>
                        {% for i in 0..11 %}
						<td class="total aright tresorerie-finale" id="tresorerie-finale-0">
						{{(ventesTTC[i] + Emprunt[i] + RemboursmentTVA[i] + RemboursmentCIR[i] + capital[i] + Comptecourant[i] + Subventions[i] + Avances[i] + AutreEncaissement[i]) - 
						
						(AchatTTC[i] + AdministrationTTC[i] + ProductionTTC[i] + CommercialTTC[i] + ReseachTTC[i] + Netapayer[i]+ 
								 NetapayerPro[i] + NetapayerCom[i] + NetapayerRec[i] + StaffchargeAdm[i] + 
								 StaffchargePro[i] + StaffchargeCom[i] + StaffchargeRec[i] + ImmobilisationsAdm[i] + ImmobilisationsPro[i] + newAutredecaissement[i] +
								 ImmobilisationsCom[i] + ImmobilisationsRec[i] +  DecaissementTVA[i] + Impotsursociete[i] + RemboursementEmprunt[i])}}
						</td>
						{% endfor %}
													
						</tr>

					<tr>
						<td class="separateur" colspan="13"></td>
					</tr>

					<tr class="italic">
						<td class="wrap"><!-- [DEBUG] Différence tréso fin de mois - cash flow fin de mois  --></td>

													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
											</tr>
									</table>



		<div class="margeur-30">

		
			<div id="container-tr-0" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

			
			<script type="text/javascript">
			var ventesTTC = {{(ventesTTC|json_encode|raw)}};
			var Emprunt = {{(Emprunt|json_encode|raw)}};
			var RemboursmentTVA = {{(RemboursmentTVA|json_encode|raw)}};
			var RemboursmentCIR = {{(RemboursmentCIR|json_encode|raw)}};
			var capital = {{(capital|json_encode|raw)}};
			var Comptecourant = {{(Comptecourant|json_encode|raw)}};
			var Subventions = {{(Comptecourant|json_encode|raw)}};
			var Avances = {{(Avances|json_encode|raw)}};
			var AutreEncaissement = {{(AutreEncaissement|json_encode|raw)}};

			var AchatTTC = {{(AchatTTC|json_encode|raw)}};
			var AdministrationTTC = {{(AdministrationTTC|json_encode|raw)}};
			var ProductionTTC = {{(ProductionTTC|json_encode|raw)}};
			var CommercialTTC = {{(CommercialTTC|json_encode|raw)}};
			var ReseachTTC = {{(ReseachTTC|json_encode|raw)}};
			var Netapayer = {{(Netapayer|json_encode|raw)}};
			var NetapayerPro = {{(NetapayerPro|json_encode|raw)}};
			var NetapayerCom = {{(NetapayerCom|json_encode|raw)}};
			var NetapayerRec = {{(NetapayerRec|json_encode|raw)}};
			var StaffchargeAdm = {{(StaffchargeAdm|json_encode|raw)}};
			var StaffchargePro = {{(StaffchargePro|json_encode|raw)}};
			var StaffchargeCom = {{(StaffchargeCom|json_encode|raw)}};
			var StaffchargeRec = {{(StaffchargeRec|json_encode|raw)}};
			var ImmobilisationsAdm = {{(ImmobilisationsAdm|json_encode|raw)}};
			var ImmobilisationsPro = {{(ImmobilisationsPro|json_encode|raw)}};
			var newAutredecaissement = {{(newAutredecaissement|json_encode|raw)}};
			var ImmobilisationsCom = {{(ImmobilisationsCom|json_encode|raw)}};
			var ImmobilisationsRec = {{(ImmobilisationsRec|json_encode|raw)}};
			var DecaissementTVA = {{(DecaissementTVA|json_encode|raw)}};
			var Impotsursociete = {{(Impotsursociete|json_encode|raw)}};
			var RemboursementEmprunt = {{(RemboursementEmprunt|json_encode|raw)}};
			
			var i;
			var encaissements = [];
			var decaissements = [];
           for (i = 0; i < ventesTTC.length; i++) {
           encaissements[i] = parseFloat(ventesTTC[i]) +  parseFloat(Emprunt[i]) + parseFloat(RemboursmentTVA[i]) + parseFloat(RemboursmentCIR[i]) + parseFloat(capital[i]) + parseFloat(Comptecourant[i]) + parseFloat(Subventions[i]) + parseFloat(Avances[i]) + parseFloat(AutreEncaissement[i]);
           decaissements[i]  =   parseFloat(AchatTTC[i]) + parseFloat(AdministrationTTC[i]) + parseFloat(ProductionTTC[i]) + parseFloat(CommercialTTC[i]) + parseFloat(ReseachTTC[i]) + parseFloat(Netapayer[i])+ 
								 parseFloat(NetapayerPro[i]) + parseFloat(NetapayerCom[i]) + parseFloat(NetapayerRec[i]) + parseFloat(StaffchargeAdm[i]) + 
								 parseFloat(StaffchargePro[i]) + parseFloat(StaffchargeCom[i]) + parseFloat(StaffchargeRec[i]) + parseFloat(ImmobilisationsAdm[i]) + parseFloat(ImmobilisationsPro[i]) + parseFloat(newAutredecaissement[i]) +
								 parseFloat(ImmobilisationsCom[i]) + parseFloat(ImmobilisationsRec[i]) +  parseFloat(DecaissementTVA[i]) + parseFloat(Impotsursociete[i]) + parseFloat(RemboursementEmprunt[i]);
			  }
		   var finaltresorerie = [] ;
		   var data = [5,3,5,4];
            for (i = 0; i < ventesTTC.length; i++) {
			 finaltresorerie[i]  = parseFloat((encaissements[i].toFixed(2) - decaissements[i].toFixed(2)).toFixed(2)) ;
			 
		
			}
		   
			$(function () {
			    $('#container-tr-0').highcharts({

		            chart: {
		                animation: false
		            },
			        title: {
			            text: 'Trésorerie finale',
			            x: -20 //center
			        },
			        xAxis: {
			            categories: ["Janv","Fév","Mars","Avril","Mai","Juin","Juil","Aout","Sept","Oct","Nov","Déc"]
			        },
			        yAxis: {
			            title: {
			                text: 'Montant'
			            },
			            plotLines: [{
			                value: 0,
			                width: 1,
			                color: '#808080'
			            }]
			        },
			        series: [{
			            name: "Trésorerie finale",
			            data: finaltresorerie
			        }]
			    });
			});
			</script>
		</div>
			</div>
{{form_end(form)}}
                            <input type="hidden" id="id_tableau" name="id_tableau" value="25" />

<div class="bloc-commentaires margeur-50" id="notes">
	<h2 class="fleft">Notes</h2>

		<div class="fright">
		<a href="#" id="hide-notes" class="no_alert_a_sauvegarder" >
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
	<div class="clearer"></div>

	<form action="" method="post" class="formulaire margeur-20">
		<textarea id="note" name="note" ></textarea>

				<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Sauvegarder la note" />
		</div>
			</form>
	</div>

<div class="bloc-commentaires margeur-50" id="commentaires">
	<div class="clearer">&nbsp;</div><div class="margeur-10"></div>
	<h2 class="fleft">Discussion</h2>
		<div class="fright">
		<a href="#" id="hide-commentaires" class="no_alert_a_sauvegarder">
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
		<div class="clearer"></div>

	<div id="commentaires-container">
			</div>

		<form action="" method="post" class="formulaire margeur-20">
		<div class="champ">
			<input type="text" name="redacteur" id="redacteur" placeholder="Votre nom" value="" />
		</div>

		<div class="champ margeur-5">
			<textarea id="commentaire" name="commentaire" placeholder="Votre commentaire"></textarea>
		</div>

		<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Envoyer le commentaire" />
		</div>
	</form>
	
	<div class="margeur-10"></div>
</div>

	<div class="liens-sociaux">
		<div id="show-commentaires" class="fleft btn btn-md btn-primary tool-tip" style="margin:0px" title="Discussion">
			<i class="fa fa-comments fs-18"></i> (<span id="nb-commentaires">0</span>)
		</div>

		<div id="show-notes" class="btn btn-md btn-primary fleft tool-tip" style="margin:0px 0px 0px 10px;" title="Notes">
			<i class="fa fa-sticky-note"></i>
					</div>
	</div>
                    </div>

{% endblock %}
{% block footer %}
{{parent()}}
{% endblock %}
{% block comment %}
{{parent()}} 
{% endblock %}
