{% extends 'business/monbuisness.html.twig' %}
{% block head %}
{{parent()}}
{% endblock %}
  {% block nav %}
  {{parent()}}
  {% endblock %}
 {% block sidebar %}
 {{parent()}}
{% endblock %}
{% block menufooter %}
{{parent()}}
{% endblock %}
{% block topnavigation %}
{{parent()}}
{% endblock %}   
{% block content %}

 <div class="right_col" role="main">
                            
{{form_start(form)}}
	<div class="entete entete-min">
		<h1 class="fleft">
			Plan de financement		</h1>


		<div class="call-to-action fright">
							<div class="fleft">
					<a href="#" title="Éléments antérieurs" class="btn btn-md btn-primary">
						Éléments antérieurs					</a>
				</div>

					<div class="fleft">
		<a href="#" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter au format PDF">
			<i class="fa fa-file-pdf-o"></i> &nbsp;Exporter
		</a>
	</div>

				<div class="fleft">
					<a href="#" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter sous Excel">
						<i class="fa fa-file-excel-o"></i> &nbsp;Exporter
					</a>
				</div>

									<div class="fleft">
					  {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-md btn-success dont-print','value':'Valider'}}) }}
					</div>
									</div>

		<div class="clearer"></div>
	</div>

	<div class="x_panel">

					<div class="form-element absolute" id="validation_mouvante">
				<input type="submit" class="btn btn-lg btn-success dont-print" value="Valider" />
			</div>
		

		<table class="tableau navigate">
			<tr>
				<th></th>
				{% for i in 0..business.numberofyears - 1 %}
								<th>Année {{i+1}}</th>
				{% endfor %}
								<th>Total</th>
			</tr>

			<tr>
				<td class="soustitre">Trésorerie initiale</td>
				<td class="aright">0.00</td>
				{% for i in 0..business.numberofyears - 1 %}
				<td class="aright"></td>
				{% endfor %}
							</tr>

			<tr>
				<td class="soustitre">Total investissements</td>
				{% for i in 0..business.numberofyears - 1 %}
				<td class="aright">{{totalInvest[i]}}</td>
				{% endfor %}
				<td class="aright">0.00</td>
			</tr>
			<tr>
				<td class="soustitre">R&D (production immobilisée)</td>
				{% for i in 0..business.numberofyears - 1 %}
								<td class="aright">{{RDList[i]}}</td>
				{% endfor %}
				<td class="aright">0.00</td>
			</tr>


			<tr>
				<td class="soustitre">Variation de BFR</td>
				{% for i in 0..business.numberofyears - 1 %}
								<td class="aright">{{variationBFR[i][11] + variationBFRglobal[i] }}</td>
				{% endfor %}
				<td class="aright">0.00</td>
			</tr>

			<tr>
				<td class="soustitre">Remboursement Emprunts</td>
				{% for i in 0..business.numberofyears - 1 %}
								<td class="aright">{{capitalremboursement[i]}}</td>
				{% endfor %}
				<td class="aright">0.00</td>
			</tr>

			<tr>
				<td class="soustitre">Autres Remboursements</td>
					{% for i in 0..business.numberofyears - 1 %}
						<td class="aright">
						{{ form_widget (form.Autre[i], {'attr': {'type':'text','class':'type-text ' }}) }}
				 			 
							  		</td>
						{% endfor %}
				 			    <td class="aright">0.00</td>
			</tr>

			<tr>
				<td class="total">Total besoins</td>
					{% for i in 0..business.numberofyears - 1 %}
								<td class="aright total">{{totalInvest[i] + RDList[i] +  variationBFR[i][11] + variationBFRglobal[i] + capitalremboursement[i] + autre[i]}}</td>
				{% endfor %}
								<td class="aright total">0.00</td>
			</tr>

			<tr>
				<td class="soustitre">Total capital social</td>
				{% for i in 0..business.rangeofdetail - 1 %}
								<td class="aright">
				 			    {{capitaldetailed[i]}}				</td>
				{% endfor %}
				{% for i in form.totalcapital %}
								<td class="aright">
				 			     {{ form_widget (i, {'attr': {'type':'text','class':'type-text ' }}) }}		</td>
				{% endfor %}				
								<td class="aright">0.00</td>
			</tr>

			<tr>
				<td class="soustitre">Total comptes courants</td>
					{% for i in 0..business.rangeofdetail - 1 %}
								<td class="aright">
				 			     {{comptecourantdetailed[i]}}				</td>
				{% endfor %}
				{% for i in form.totalcompte %}
								<td class="aright">
				 	   {{ form_widget (i, {'attr': {'type':'text','class':'type-text ' }}) }}		</td>
				{% endfor %}				
								<td class="aright">0.00</td>
			</tr>

			<tr>
				<td class="soustitre">Total subventions</td>
				{% for i in 0..business.rangeofdetail - 1 %}
								<td class="aright">
				 			    {{subventionsdetailled[i]}}				</td>
				{% endfor %}
				{% for i in form.totalsubventions %}
								<td class="aright">
				 			  {{ form_widget (i, {'attr': {'type':'text','class':'type-text ' }}) }}			</td>
				{% endfor %}				
								<td class="aright">0.00</td>
			</tr>

			<tr>
				<td class="soustitre">Total avances remboursables</td>
					{% for i in 0..business.rangeofdetail - 1 %}
								<td class="aright">
				 			     {{avancedetailled[i]}}				</td>
				{% endfor %}
				{% for i in form.totalavance %}
								<td class="aright">
				 			       {{ form_widget (i, {'attr': {'type':'text','class':'type-text ' }}) }}			</td>
				{% endfor %}				
								<td class="aright">0.00</td>
			</tr>

			<tr>
				<td class="soustitre">Emprunts</td>
					{% for i in 0..business.numberofyears - 1 %}
								<td class="aright">{{emprunt[i]}}</td>
				{% endfor %}
								<td class="aright total">0.00</td>
			</tr>

			<tr>
				<td class="soustitre">Marge brute d'autofinancement</td>
					{% for i in 0..business.numberofyears - 1 %}
								<td class="aright">{{autofinancement[i]}}</td>
				{% endfor %}
								<td class="aright total">0.00</td>
			</tr>

			<tr>
				<td class="total">Total ressources</td>
					{% for i in 0..business.numberofyears - 1 %}
								<td class="aright total">{{(capitaldetailed[i] + comptecourantdetailed[i] + subventionsdetailled[i] + avancedetailled[i] + emprunt[i] + autofinancement[i])}}</td>
				{% endfor %}
								<td class="aright total">0.00</td>
			</tr>

			<tr>
				<td class="total">Ressources - Besoins</td>
					{% for i in 0..business.numberofyears - 1 %}
								<td class="aright total">{{(totalInvest[i] + RDList[i] +  variationBFR[i][11] + variationBFRglobal[i] + capitalremboursement[i] + autre[i] ) - (capitaldetailed[i] + comptecourantdetailed[i] + subventionsdetailled[i] + avancedetailled[i] + emprunt[i] + autofinancement[i])}}</td>
				{% endfor %}
								<td class="aright total">0.00</td>
			</tr>

			<tr>
				<td class="total">Cumul &nbsp;<i class="fs-18 fa fa-question-circle tool-tip cpointer" title="Il est normal que le cumul entre le plan de financement et le BFR ne soit pas le même
"></i></td>
					{% for i in 0..business.numberofyears - 1 %}
								<td class="aright">0.00</td>
				{% endfor %}
								<td class="aright total">0.00</td>
			</tr>

			<tr>
				<td class="soustitre">Cumul hors autofinancement</td>
					{% for i in 0..business.numberofyears - 1 %}
								<td class="aright">0.00</td>
				{% endfor %}
								<td class="aright total">0.00</td>
			</tr>


		</table>

					<div class="margeur-30">
				<div id="container-pf" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

				
				<script type="text/javascript">

				$(function () {
				        $('#container-pf').highcharts({

				            chart: {
				                type: 'column',
				                animation: false
				            },

				            title: {
				                text: 'Financement'
				            },

				            xAxis: {
				                categories: ["Année 1","Année 2","Année 3","Année 4","Année 5"]
				            },

				            yAxis: {
				                allowDecimals: false,
				                min: 0,
				                title: {
				                    text: 'Montant'
				                }
				            },

				            tooltip: {
				                formatter: function() {
				                    return '<b>'+ this.x +'</b><br/>'+
				                        this.series.name +': '+ Math.round(this.y) +'<br/>'+
				                        'Total: '+ Math.round(this.point.stackTotal);
				                }
				            },
				            plotOptions: {
				                column: {
				                    stacking: 'normal',
				                    pointWidth: '55',
				                    dataLabels: {
				                        enabled: true,
				                        formatter: function() {
				                            if (this.y === 0) {
				                                return null;
				                            } else {
				                                return this.y;
				                            }
				                        },
				                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
				                    }
				                }
				            },

				            series: [{
				                name: "Montant du solde",
				                data: [-284,144,-120,160,0],
				                stack: 'col1'
				            }, {
				                name: "Total investissements",
				                data: [300,0,0,0,0],
				                stack: 'col1'
				            },{
				                name: "Variation de BFR",
				                data: [164,-124,120,-160,0],
				                stack: 'col1'
				            },{
				                name: "Remboursement Emprunts",
				                data: [],
				                stack: 'col1'
				            }, {
				                name: "Emprunts",
				                data: [0,0,0,0,0],
				                stack: 'col2'
				            }, {
				                name: "Apports",
				                data: [0,0,0,0,0],
				                stack: 'col2'
				            }, {
				                name: "Marge brute d'autofinancement",
				                data: [180,20,0,0,0],
				                stack: 'col2'
				            }]
				        });
				    });
				</script>
			</div>
			</div>
{{form_end(form)}}
                            <input type="hidden" id="id_tableau" name="id_tableau" value="24" />

<div class="bloc-commentaires margeur-50" id="notes">
	<h2 class="fleft">Notes</h2>

		<div class="fright">
		<a href="#" id="hide-notes" class="no_alert_a_sauvegarder" >
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
	<div class="clearer"></div>

	<form action="" method="post" class="formulaire margeur-20">
		<textarea id="note" name="note" ></textarea>

				<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Sauvegarder la note" />
		</div>
			</form>
	</div>

<div class="bloc-commentaires margeur-50" id="commentaires">
	<div class="clearer">&nbsp;</div><div class="margeur-10"></div>
	<h2 class="fleft">Discussion</h2>
		<div class="fright">
		<a href="#" id="hide-commentaires" class="no_alert_a_sauvegarder">
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
		<div class="clearer"></div>

	<div id="commentaires-container">
			</div>

		<form action="" method="post" class="formulaire margeur-20">
		<div class="champ">
			<input type="text" name="redacteur" id="redacteur" placeholder="Votre nom" value="" />
		</div>

		<div class="champ margeur-5">
			<textarea id="commentaire" name="commentaire" placeholder="Votre commentaire"></textarea>
		</div>

		<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Envoyer le commentaire" />
		</div>
	</form>
	
	<div class="margeur-10"></div>
</div>

	<div class="liens-sociaux">
		<div id="show-commentaires" class="fleft btn btn-md btn-primary tool-tip" style="margin:0px" title="Discussion">
			<i class="fa fa-comments fs-18"></i> (<span id="nb-commentaires">0</span>)
		</div>

		<div id="show-notes" class="btn btn-md btn-primary fleft tool-tip" style="margin:0px 0px 0px 10px;" title="Notes">
			<i class="fa fa-sticky-note"></i>
					</div>
	</div>
                    </div>

{% endblock %}
{% block footer %}
{{parent()}}
{% endblock %}
{% block comment %}
{{parent()}} 
{% endblock %}
