{% extends 'business/monbuisness.html.twig' %}
{% block head %}
{{parent()}}
{% endblock %}
  {% block nav %}
  {{parent()}}
  {% endblock %}
 {% block sidebar %}
 {{parent()}}
{% endblock %}
{% block menufooter %}
{{parent()}}
{% endblock %}
{% block topnavigation %}
{{parent()}}
{% endblock %}   
{% block content %}

 <div class="right_col" role="main">
                            
<div class="entete entete-min">
	<h1 class="fleft">
		BFR	</h1>

			<div class="fleft margeur-l15">
				<div class="pagination-periode">
		{% for i in 0..business.rangeofdetail -1  %}
					<a href="{{path('BFRdetail',{'id':i  })}}" class="btn btn-primary btn-md btn-success" title="Année 1">
				Année {{i + 1}}		</a>
		{% endfor %}
			
		
				<!--<a href="#" class="btn btn-md">
			&raquo;
		</a>-->
		

	</div>
		</div>
	
	<div class="call-to-action fright">
					<div class="fleft">
				<a href="#" title="Éléments antérieurs" class="btn btn-md btn-primary">
					Éléments antérieurs				</a>
			</div>

				<div class="fleft">
		<a href="#" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter au format PDF">
			<i class="fa fa-file-pdf-o"></i> &nbsp;Exporter
		</a>
	</div>
			</div>

	<div class="clearer"></div>
</div>

<div class="x_panel">
	<table class="tableau">
		<tr>
			<th></th>
							<th>Janv</th>
							<th>Fév</th>
							<th>Mars</th>
							<th>Avril</th>
							<th>Mai</th>
							<th>Juin</th>
							<th>Juil</th>
							<th>Aout</th>
							<th>Sept</th>
							<th>Oct</th>
							<th>Nov</th>
							<th>Déc</th>
					</tr>

		<tr>
			<td class="soustitre">Total stocks</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
					</tr>

		<tr>
			<td class="soustitre">Variation stocks</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
					</tr>

		<tr>
			<td class="soustitre">Comptes clients</td>
			{% for i in 0..11 %}
						<td class="aright">
				{{CompteClient[i]}}			</td>
			{% endfor %}			
					</tr>

		<tr>
			<td class="soustitre">Créances TVA</td>
			{% for i in tvacredit %}
						<td class="aright">
				{{i}}			</td>
			{% endfor %}
					</tr>

		<tr>
			<td class="soustitre">Créances Fiscales</td>
			{% for i in 0..11 %}
						<td class="aright">
				{{creancefiscale[i]}}			</td>
			{% endfor %}
					</tr>

		<tr>
			<td class="total">Variations créances</td>
					{% for i in 0..11 %}
				<td class="aright total">
				{{variationcreance[i] + finaltvacredit[i] + finalcreanceFiscale[i]  }}		</td>
				{% endfor %}	
					</tr>

		<tr>
			<td class="soustitre">Comptes fournisseurs</td>
							<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
						<td class="aright">
				0.00			</td>
					</tr>

		<tr>
			<td class="soustitre">TVA à payer</td>
		    {%  for i in 0..11 %}
						<td class="aright">
				{{tvaapayer[i]}}			</td>
		    {% endfor %}
					</tr>

		<tr>
			<td class="soustitre">Dettes fiscales</td>
			 {%  for i in 0..11 %}
			<td class="aright">
			{{DettesFiscales[i]}}
			</td>
			{% endfor %}
					</tr>

		<tr>
			<td class="soustitre">Dettes sociales</td>
			{% for i in 0..11 %}
			<td class="aright">
				{{DettesSociale[i]}}			</td>
			{% endfor %}
					</tr>

		<tr>
			<td class="total">Variation Dettes</td>
			{% for i in 0..11 %}
						<td class="aright total">
				{{VariationDettes[i] + finaltvadecaisser[i] + finalDetteFiscale[i]}}			</td>
			{% endfor %}
				</tr>

		<tr>
			<td class="soustitre">Variation de BFR</td>
			{% for i in 0..11 %}			
						<td class="aright total">
				{{ (variationcreance[i] + finaltvacredit[i] + finalcreanceFiscale[i])  - (VariationDettes[i] + finaltvadecaisser[i] + finalDetteFiscale[i]) }}			</td>
			{% endfor %}			
					</tr>
 
	</table>
</div>
                            <input type="hidden" id="id_tableau" name="id_tableau" value="33-0" />

<div class="bloc-commentaires margeur-50" id="notes">
	<h2 class="fleft">Notes</h2>

		<div class="fright">
		<a href="#" id="hide-notes" class="no_alert_a_sauvegarder" >
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
	<div class="clearer"></div>

	<form action="" method="post" class="formulaire margeur-20">
		<textarea id="note" name="note" ></textarea>

				<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Sauvegarder la note" />
		</div>
			</form>
	</div>

<div class="bloc-commentaires margeur-50" id="commentaires">
	<div class="clearer">&nbsp;</div><div class="margeur-10"></div>
	<h2 class="fleft">Discussion</h2>
		<div class="fright">
		<a href="#" id="hide-commentaires" class="no_alert_a_sauvegarder">
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
		<div class="clearer"></div>

	<div id="commentaires-container">
			</div>

		<form action="" method="post" class="formulaire margeur-20">
		<div class="champ">
			<input type="text" name="redacteur" id="redacteur" placeholder="Votre nom" value="" />
		</div>

		<div class="champ margeur-5">
			<textarea id="commentaire" name="commentaire" placeholder="Votre commentaire"></textarea>
		</div>

		<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Envoyer le commentaire" />
		</div>
	</form>
	
	<div class="margeur-10"></div>
</div>

	<div class="liens-sociaux">
		<div id="show-commentaires" class="fleft btn btn-md btn-primary tool-tip" style="margin:0px" title="Discussion">
			<i class="fa fa-comments fs-18"></i> (<span id="nb-commentaires">0</span>)
		</div>

		<div id="show-notes" class="btn btn-md btn-primary fleft tool-tip" style="margin:0px 0px 0px 10px;" title="Notes">
			<i class="fa fa-sticky-note"></i>
					</div>
	</div>
                    </div>

{% endblock %}
{% block footer %}
{{parent()}}
{% endblock %}
{% block comment %}
{{parent()}} 
{% endblock %}