{% extends 'business/monbuisness.html.twig' %}
{% block head %}
{{parent()}}
{% endblock %}
  {% block nav %}
  {{parent()}}
  {% endblock %}
 {% block sidebar %}
 {{parent()}}
{% endblock %}
{% block menufooter %}
{{parent()}}
{% endblock %}
{% block topnavigation %}
{{parent()}}
{% endblock %}   
{% block content %}
 <div class="right_col" role="main">
 {% if business.rangeofdetail < business.numberofyears  %}
{{ form_start(form) }}
{% endif %}                           


	<input type="hidden" id="no_format_zero" value="true" />

	<div class="entete entete-min">
		<h1 class="fleft">
			BFR		</h1>

		<div class="call-to-action fright">
							<div class="fleft">
					<a href="#" title="Éléments antérieurs" class="btn btn-md btn-primary">
						Éléments antérieurs					</a>
				</div>

					<div class="fleft">
		<a href="#" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter au format PDF">
			<i class="fa fa-file-pdf-o"></i> &nbsp;Exporter
		</a>
	</div>

				<div class="fleft">
					<a href="#" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter sous Excel">
						<i class="fa fa-file-excel-o"></i> &nbsp;Exporter
					</a>
				</div>

									<div class="fleft">
						{{form_widget (form.Valider, {'attr': {'class': 'btn btn-md btn-success dont-print','value':'Valider'}}) }}
						
					</div>
									</div>

		<div class="clearer"></div>
	</div>

	<div class="x_panel">
					<div class="form-element absolute" id="validation_mouvante">
				<input type="submit" class="btn btn-lg btn-success dont-print" value="Valider" />
			</div>
		
		<div class="clearer"></div>

		<table class="tableau">
			<tr>
				<th></th>
				<th>Année 0</th>
				{% if business.rangeofdetail >= 1 and business.rangeofdetail < business.numberofyears %}
						{% for i in 1..business.rangeofdetail  %}
						<th> Année {{i}}
						<br/>
								<span class="saisie-detaillee-link">
									<a href="{{path('BFRdetail',{'id':i - 1  })}}" title="Saisie détaillée">
										Saisie détaillée
									</a>
									<br/>
						 </th>
						{% endfor %}
						{% endif %}
						{% if business.rangeofdetail < business.numberofyears  %}
						{% for i in (business.rangeofdetail +1)..business.numberofyears  %}
							<th>
								Année
								{{i }}
								
							

							</th>
						{% endfor %}
                        {% endif %}
						{% if business.rangeofdetail == business.numberofyears  %}
                        {% for i in 1..business.numberofyears  %}
						<th> Année {{i}}
						<br/>
								<span class="saisie-detaillee-link">
									<a href="{{path('BFRdetail',{'id':i - 1  })}}" title="Saisie détaillée">
										Saisie détaillée
									</a>
									<br/>
						 </th>
						{% endfor %}
						{% endif %}
							</tr>

			<tr>
				<td class="soustitre">Total stocks</td>
								<td class="aright">
																
				</td>
				{% for i in 1..business.rangeofdetail  %}
								<td class="aright">
											0.00					
				</td>
				{% endfor %}
				{% if rangeofdetail < business.numberofyears %}
				{% for i in 0..rangeofglobal  - 1 %}
								<td class="aright">
					{{ form_widget (form.stocks[i], {'attr': {'type':'text','class':'type-text ' }}) }}
					
				</td>
				{% endfor %}
				{% endif %}
							</tr>

			<tr>
				<td class="soustitre">Comptes clients</td>
								<td class="aright">
											0.00									</td>
							{% for i in 1..business.rangeofdetail  %}
								<td class="aright">
										{{	CompteClient[i-1][11]	}}				
			                	</td>
			             	{% endfor %}
							 {% if rangeofdetail < business.numberofyears %}
							 {% for i in (business.rangeofdetail +1)..business.numberofyears  %}
								<td class="aright">
									</td>
							   {% endfor %}
							{% endif %}
							</tr>

			<tr>
				<td class="soustitre">Créances TVA</td>
				<td class="aright">
				0.00
				</td>
				{% for i in 1..business.rangeofdetail  %}
				<td class="aright">
				{{tvacredit[i-1][11]}}
				</td>
				{% endfor %}
				{% if rangeofdetail < business.numberofyears %}
				 {% for i in (business.rangeofdetail +1)..business.numberofyears  %}		
								<td class="aright">
									</td>
				{% endfor %}
				{% endif %}
							</tr>

			<tr>
				<td class="soustitre">Créances Fiscales</td>
								<td class="aright">
											0.00
									</td>
				{% for i in 1..business.rangeofdetail  %}
				<td class="aright">
				{{creancefiscale[i - 1][11]}}	
				</td>
				{% endfor %}
				{% if rangeofdetail < business.numberofyears %}
				{% for i in 0..rangeofglobal  - 1 %}
				<td class="aright">
				
					{{ form_widget (form.Taxliabilites[i], {'attr': {'type':'text','class':'type-text ' }}) }}
				</td>
				{% endfor %}
				{%  endif %}
							</tr>

			<tr>
				<td class="total">Total Créances</td>
								<td class="aright total">
											0.00									</td>
				{% for i in 1..business.rangeofdetail  %}
				<td class="aright total">
				
				{{variationcreance[i-1][11] + tvacredit[i-1][11] + creancefiscale[i-1][11]   }}
				</td>
                 {% endfor %}
				 {% if rangeofdetail < business.numberofyears %}
					{% for i in 0..rangeofglobal  - 1 %}  
				<td class="aright total">
					{{ form_widget (form.totalliabilites[i], {'attr': {'type':'text','class':'type-text ' }}) }}
					</td>
				{% endfor %}
			    {% endif %}
							</tr>

			<tr>
				<td class="soustitre">Comptes fournisseurs</td>
				<td class="aright">	
						0.00					
				</td>
				{% for i in 1..business.rangeofdetail  %}
				<td class="aright total">
				0.00
				</td>
                 {% endfor %}
				 {% if rangeofdetail < business.numberofyears %}
				  {% for i in (business.rangeofdetail +1)..business.numberofyears  %} 
								<td class="aright"></td>
				{% endfor %}
				{% endif %}
							</tr>

			<tr>
				<td class="soustitre">TVA à payer</td>
				<td class="aright">
				0.00
				</td>
				{% for i in 1..business.rangeofdetail  %}
				<td class="aright total">
				{{tvaapayer[i-1][11]}}	
				</td>
                 {% endfor %}
				 {% if rangeofdetail < business.numberofyears %}
				{% for i in (business.rangeofdetail +1)..business.numberofyears  %} 				
				<td class="aright">
				</td>
				{% endfor %}
				{% endif %}				
							</tr>

			<tr>
				<td class="soustitre">Dettes fiscales</td>
								<td class="aright">
											0.00</td>
				{% for i in 1..business.rangeofdetail  %}
				<td class="aright">
				{{DettesFiscales[i-1][11]}}
				</td>
				{% endfor %}
			    {% if rangeofdetail < business.numberofyears %}
				{% for i in (business.rangeofdetail +1)..business.numberofyears  %} 
				<td class="aright">
				</td>
				{% endfor %}
				{% endif %}
							</tr>

			<tr>
				<td class="soustitre">Dettes sociales</td>
				<td class="aright">
				0.00
				</td>
				{% for i in 1..business.rangeofdetail  %}
				<td class="aright">
				{{DettesSociale[i-1][11]}}
				</td>
				{% endfor %}
				{% if rangeofdetail < business.numberofyears %}
				{% for i in (business.rangeofdetail +1)..business.numberofyears  %} 
				<td class="aright">
				</td>
				{% endfor %}
				{% endif %}
							</tr>

			<tr>
				<td class="total">Total Dettes</td>
				
								<td class="aright total">
				</td>
				{% for i in 1..business.rangeofdetail  %}
				<td class="aright">
				{{ DettesFiscales[i-1][11] + tvaapayer[i-1][11] + DettesSociale[i-1][11]}}
				</td>
				{% endfor %}
				{% if rangeofdetail < business.numberofyears %}
			    {% for i in 0..rangeofglobal  - 1 %}  
								<td class="aright total">
					{{ form_widget (form.totaldebts[i], {'attr': {'type':'text','class':'type-text ' }}) }}								</td>
				{% endfor %}			
				{% endif %}
							</tr>

			<tr>
				<td class="total">BFR</td>
								<td class="aright">0.00</td>
			       {% for i in 1..business.rangeofdetail  %}
								<td class="aright">{{(variationcreance[i-1][11] + tvacredit[i-1][11] + creancefiscale[i-1][11] ) -(DettesFiscales[i-1][11] + tvaapayer[i-1][11] + DettesSociale[i-1][11]) }}</td>
				{% endfor %}
				{% if rangeofdetail < business.numberofyears %}
				{% for i in (business.rangeofdetail +1)..business.numberofyears  %} 
								<td class="aright">{{stocksglobal[i - business.rangeofdetail - 1] + totalliabilites[i - business.rangeofdetail - 1] - totaldebt[i - business.rangeofdetail - 1]}}</td>
                {% endfor %}
				{% endif %}
							</tr>

			<tr>
				<td class="soustitre">Variation de BFR</td>
				<td class="aright total">0.00</td>
				{% for i in 1..business.numberofyears  %}
				
				<td class="aright">{{VariationBFR[i- 1][11] + VariationBFRGlobal[i -1] }}  </td>
				{% endfor %}
				
							</tr>

			<tr>
				<td class="soustitre">CA</td>
								<td class="aright">
								</td>
					{% for i in 0..business.numberofyears  -1  %}
								<td class="aright">
									{{totalCA[i]}}</td>
					{% endfor %}
								
							</tr>

			<tr>
				<td class="soustitre">BFR en nb jours de CA</td>
									<td class="aright total">
											</td>
				{% for i in 1..business.rangeofdetail  %}
				<td class="aright total">
				{% if totalCA[i-1] > 0 %}
				{{ (((variationcreance[i-1][11] + tvacredit[i-1][11] + creancefiscale[i-1][11] ) -(DettesFiscales[i-1][11] + tvaapayer[i-1][11] + DettesSociale[i-1][11]) )* 365 / totalCA[i-1])|number_format(2, '.', ',')  }}
				{% else %} 0 {% endif %}
				</td>
				{% endfor %}
				{% if rangeofdetail < business.numberofyears %}
				{% for i in (business.rangeofdetail +1)..business.numberofyears  %}			
				<td class="aright total">
				{% if totalCA[i-1] > 0 %}
				{{((stocksglobal[i - business.rangeofdetail - 1] + totalliabilites[i - business.rangeofdetail - 1] - totaldebt[i - business.rangeofdetail - 1]) * 365 / totalCA[i-1])|number_format(2, '.', ',')}}
				{% else %} 0 {% endif %}
 				</td>
				{% endfor %}	
				{% endif %}
							</tr>

		</table>
	</div>
	
{% if business.rangeofdetail < business.numberofyears  %}
{{ form_end(form) }}
{% endif %}
                            <input type="hidden" id="id_tableau" name="id_tableau" value="26" />

<div class="bloc-commentaires margeur-50" id="notes">
	<h2 class="fleft">Notes</h2>

		<div class="fright">
		<a href="#" id="hide-notes" class="no_alert_a_sauvegarder" >
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
	<div class="clearer"></div>

	<form action="" method="post" class="formulaire margeur-20">
		<textarea id="note" name="note" ></textarea>

				<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Sauvegarder la note" />
		</div>
			</form>
	</div>

<div class="bloc-commentaires margeur-50" id="commentaires">
	<div class="clearer">&nbsp;</div><div class="margeur-10"></div>
	<h2 class="fleft">Discussion</h2>
		<div class="fright">
		<a href="#" id="hide-commentaires" class="no_alert_a_sauvegarder">
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
		<div class="clearer"></div>

	<div id="commentaires-container">
			</div>

		<form action="" method="post" class="formulaire margeur-20">
		<div class="champ">
			<input type="text" name="redacteur" id="redacteur" placeholder="Votre nom" value="" />
		</div>

		<div class="champ margeur-5">
			<textarea id="commentaire" name="commentaire" placeholder="Votre commentaire"></textarea>
		</div>

		<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Envoyer le commentaire" />
		</div>
	</form>
	
	<div class="margeur-10"></div>
</div>

	<div class="liens-sociaux">
		<div id="show-commentaires" class="fleft btn btn-md btn-primary tool-tip" style="margin:0px" title="Discussion">
			<i class="fa fa-comments fs-18"></i> (<span id="nb-commentaires">0</span>)
		</div>

		<div id="show-notes" class="btn btn-md btn-primary fleft tool-tip" style="margin:0px 0px 0px 10px;" title="Notes">
			<i class="fa fa-sticky-note"></i>
					</div>
	</div>
                    </div>

{% endblock %}
{% block footer %}
{{parent()}}
{% endblock %}
{% block comment %}
{{parent()}} 
{% endblock %}